.user {
    width: 805px;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}
.u_block_el {
    float: left;
    margin: 0 5px;
}
.u_avatar_img {
    width: 100px;
    height: 100px;
}

