.main_header {
    grid-area: h;
    background-color: teal;
}
.main_header .logo {
    margin-left: 10px;
    width: 40px;
}
.auth_block {
    margin: 9px;
    float: right;
}
.login {
    color: white;
    text-decoration: none;
}
.logout{
    float: right;
}