.nav {
    grid-area: n;
    width: 100%;
    margin: 0 auto;
}

.sitebar .item{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.sitebar .item .a{
    text-decoration: none;
    color: black;
}
.sitebar .item:hover{
    color: #3a579b;
}