.messenger {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    min-height: 800px;

    border-radius: 5px;
}

.dialogs {
    background-color: white;
    padding: 10px;
}

.messages {
    background-color: white;
    padding: 10px;
}